.dashboard {
    padding: 30px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    overflow-x: hidden;

}
.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dashboard > * {
    width: 100%;
}

.dashboard h3 {
    width: 100%;
    margin: 0;
    padding: 0;
}
.cards {
    min-width: 80vw;
}
h3 span {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: lighter;
    color: #57cc99;
    cursor: pointer;
}
.cardContainer{
    display: grid;
    overflow: visible;
    flex-direction: column;
    grid-template-rows: 40px 40px;
}

/* .cardContainer div > *:nth-child(1) {
    background: linear-gradient(#22577a, #80ed99);    
}
.cardContainer div > *:nth-child(2) {
    background: linear-gradient(#38a3a5, #80ed99);
    
}
.cardContainer div > div:nth-child(3) {
    background: linear-gradient(#57cc99, #38a3a5);
} */

.cardContainer > *:nth-child(1), .cardContainer > *:nth-child(2){
    /* border-bottom-right-radius: 0; */
    /* border-bottom-left-radius: 0; */
    min-height: 100px;
    overflow: visible;
}


.balance {
    font-size: 1.3em;
}


.chartContainer {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    /* height: fit-content; */
}

.transaction {
    font-size: 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.transactionAmnt {
    color: #57cc99;
}
.negative {
    color: red;
}

@media screen and (min-width: 500px) {
    .dashboard {
        display: flex;
        flex-wrap: wrap;
        padding-left: 70px;
        overflow-x: hidden;

    }
    .dashboard > * {
        width: fit-content;
    }
    .left > div{
        height: 50%;
    }

    .balance {
        min-width: 450px;
        width: 60vw;
    }
    .transaction {
        min-width: 450px;
        width: 60vw;
    }

    .cardContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px
    }

    .mobile {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .dashboard {

        padding-left: 300px;
    }
    
}